body{
margin:0;
border:0;
box-sizing: border-box;
}
#allLostPets{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin: 2rem 0 2rem 0;
}
#allFoundPets{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin: 2rem 0 2rem 0;
}
 .m-2 .card{
  width:250px;
  background-color: rgb(240,240,240);
  border-radius: 12px;
  border: 1px solid grey;
}
.card-content p{
  margin-left:2rem;
}
container {
  padding: 25px;
 }