body{
margin:0;
border:0;
box-sizing: border-box;
}
.nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    font-size:1.2rem;
}
