body{
margin:0;
border:0;
box-sizing: border-box;
}
.nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    font-size:1.2rem;
}
.navbar-brand{
 -webkit-background-clip: text;
        background-image: linear-gradient(to right,hsl(231, 86%, 50%),hsl(197, 82%, 70%));
        -webkit-text-fill-color: transparent;
        color:#464646;
        display: inline-block;
        padding: 0;
        margin: 0;
 }